
$mobile-width: 1200px;

@font-face {
  font-family: 'Rye';
  src: url('../fonts/Rye-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Sanchez';
  src: url('../fonts/Sanchez-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'XanhMono';
  src: url('../fonts/XanhMono-Regular.ttf')  format('truetype');
}

body {
  margin: 0;
  box-sizing: border-box;

  @media screen and (max-width: $mobile-width) {
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
  }
}

#grid {
  display: grid;
  margin: 0;
  padding: 0;

  grid-template-rows: 1fr 4fr 1fr 2fr;
  justify-items: center;
  align-items: center;
}

header {
  grid-row: 1;
  justify-self: start;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1 {
  margin: 0;
  font-family: Rye;
  font-weight: 100;
  padding: 0.5em 0;

  &#day {
    font-family: Sanchez;
    font-style: normal;
    font-weight: normal;
    min-width: 3.5em;
    text-align: center;
  }
}

#plant {
  grid-row: 2;
  background-color: #c5faff;
  width: 55%;
  border-radius: 30px;

  @media screen and (max-width: $mobile-width) {
    width: 95%;
  }

  svg {
    width: 100%;
    height: 100%;

    #sunflower {
      #petals {
        // color on hover
        path {
          transition: fill 1s ease-in-out;
        }
        &:hover {
          path {
            fill: red !important;
          }
        }

        // spin petals
        transform-origin: center;
        transform-box: fill-box;
        animation: spin 3s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
        @keyframes spin {
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

#controls {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  #right::after,
  #left::after {
    content: "►";
    font-size: 1.5rem;
    padding: 1em;
  }

  #left::after {
    display: inline-block;
    transform: rotate(180deg);
  }
}

#fact {
  font-family: Sanchez;
  font-size: 1.5em;
  align-self: start;
  width: 60%;
  grid-row: 4;
  overflow: scroll;

  @media screen and (max-width: $mobile-width) {
    width: 90%;
    font-size: 1.3em;
  }

  p:first-child {
    margin-top: 0;

    #fact-title {
      font-weight: bold;
    }

    #fact-latin {
      font-family: XanhMono;
    }
  }

  p:last-child {
    margin: 0 0 2em;
    padding: 0;
    text-indent: 2em;
  }
}



