
$mobile-width: 600px;

@font-face {
  font-family: 'Rye';
  src: url('../fonts/Rye-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Sanchez';
  src: url('../fonts/Sanchez-Regular.ttf')  format('truetype');
}

body {
  margin: 0;
  box-sizing: border-box;

  @media screen and (max-width: $mobile-width) {
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
  }
}

#grid {
  display: grid;
  margin: 0;
  padding: 0;

  grid-template-rows: 1fr 4fr 1fr 2fr;
  justify-items: center;
  align-items: center;
}

header {
  grid-row: 1;
  justify-self: start;
  padding-left: 2em;

  @media screen and (max-width: $mobile-width) {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

h1 {
  margin: 0;
  padding: 0;
  font-family: Rye;
  font-weight: 100;

  &#day {
    font-family: Sanchez;
    font-style: normal;
    font-weight: normal;
  }
}

#plant {
  grid-row: 2;
  background-color: #C5FFE3;
  width: 40%;
  height: 100%;
  border-radius: 30px;

  @media screen and (max-width: $mobile-width) {
    width: 90%;
  }
}

#controls {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  span {
    &#left,
    &#right {
      width: 0;
      height: 0;
      display: block;
      border: 1em solid transparent;
      opacity: 0.5;

      @media (hover: none) {
        opacity: 1;
      }

      &:hover {
        opacity: 1;

      }
    }

    &#right {
      margin-left: 1em;
      padding-left: 1em;
      border-left: 1.6em solid black;
      border-right: 0 solid transparent;
    }

    &#left {
      margin-right: 1em;
      padding-right: 1em;
      border-right: 1.6em solid black;
      border-left: 0 solid transparent;
    }
  }
}

#fact {
  font-family: Sanchez;
  font-size: 1.5em;
  align-self: start;
  width: 50%;
  grid-row: 4;

  @media screen and (max-width: $mobile-width) {
    width: 90%;
    font-size: 0.9rem;
  }

  p {
    margin: 0;
    padding: 0;
  }
}



